MAIL_SERVICE_PORT=4001
MAIL_ALLOWED_ORIGIN=http://localhost:5173

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=tu-correo@dominio.com
MAIL_PASS=tu-password-o-app-password

MAIL_FROM_NAME=EcuNexo
MAIL_FROM_EMAIL=tu-correo@dominio.com
MAIL_TO=destino@dominio.com
